<div class="d-flex justify-content-center" style="margin-bottom: 5px; margin-top: 30px">
  <div class="row">
    <i class="fas fa-user-circle" style="font-size: 200px;"></i>
  </div>
</div>

<div class="row" style="text-align: center; margin-top: 15px">
  <h2 style="margin-bottom: 5px">{{nome_utilizador}}</h2>
  <h5 class="mt-1">{{username_message}}</h5>
  <div class="d-flex justify-content-center" *ngIf="!isFriend" >
    <button mat-raised-button color="warn" (click)="openDialog()">Pedir introdução</button>
  </div>
  <hr style="margin-top: 15px">
</div>

<div *ngIf="isFriend" class="row" style="text-align: center; margin-top: 15px">
  <h4 style="margin-bottom: 10px">Como classifica a sua relação com x?</h4>
  <div class="d-flex justify-content-center h-100">
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      (input)="onInputChange($event)"
      [(ngModel)]="slider_value"
      [tickInterval]="getSliderTickInterval()"
      tickInterval="1"
      step="1"
      min="0"
      max="10"
      aria-label="units"></mat-slider>
  </div>
  <div class="d-flex justify-content-center h-100">
    <button mat-raised-button color="accent" (click)="updateConnectionOpinion()">Atualizar opinião</button>
  </div>
  <hr style="margin-top: 30px">
</div>

<div *ngIf="isFriend" class="row" style="text-align: center; margin-top: 15px">
  <h4 style="margin-bottom: 10px">Qual a sua relação com x?</h4>
  <div class="d-flex justify-content-center">
    <mat-form-field  appearance="fill">
      <mat-label><i class="fas fa-layer-group"></i> Estado emocional</mat-label>
      <mat-select [(value)]="relation_state_message">
        <mat-option [value]="relationString.FRIENDS">Amigos</mat-option>
        <mat-option [value]="relationString.COLLEAGUES">Colegas</mat-option>
        <mat-option [value]="relationString.BOYFRIENDS">Namorado | Namorada</mat-option>
        <mat-option [value]="relationString.MARRIED">Casados</mat-option>
        <mat-option [value]="relationString.DIVORCED">Divorciados</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-center h-100">
    <button mat-raised-button color="accent" (click)="updateRelation()">Atualizar relação</button>
  </div>
  <hr style="margin-top: 30px">
</div>

<div class="row" style="text-align: center; margin-top: 5px">
  <h3>Email: {{email_message}}</h3>
  <h3>Telemóvel: {{telemovel_message}}</h3>
  <h3>Data de nascimento: {{data_message}}</h3>
  <hr>
  <h3>Tags do utlizador: {{tags_message}}</h3>
</div>
