<mat-accordion class="example-headers-align">

  <mat-expansion-panel hideToggle [(expanded)]="panelOpenState">
    <mat-expansion-panel-header (click)="processingMethod()">
      <mat-panel-title style="transform: translateY(2px)">
        Desafio
      </mat-panel-title>
      <mat-panel-description>
        Utilizadores objetivo
        <mat-icon style="transform: translateX(10px)">map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row justify-content-center" *ngIf="!isDoneProcessing" >
      <div style="transform: translateX(-15px)" class="lds-dual-ring"></div>
    </div>


    <div *ngIf="isDoneProcessing">
      <h2 style="margin-left: 10px">Selecione o utilizador que pretende conhecer: </h2>
      <mat-radio-group [(ngModel)]="selectedValue" *ngFor="let user of suggestedUsersFilled">
        <mat-divider></mat-divider>
        <div class="row p-2">
          <mat-radio-button (click)="setUserSelected()" class="example-margin" value="{{user.username}}">Utilizador: {{user.nome}}</mat-radio-button>
        </div>

      </mat-radio-group>

      <mat-action-row *ngIf="isUserSelected">
        <button mat-button color="primary" (click)="openDialog()">Submeter</button>
      </mat-action-row>
    </div>

  </mat-expansion-panel>


</mat-accordion>
